@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
body {
    background: rgb(34, 179, 195);
    background: linear-gradient(344deg, rgba(34, 179, 195, 1) 0%, rgba(253, 186, 45, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Source Code Pro', monospace;
    margin: 0 auto;
}

.main {
    margin: 0 auto;
    background: whitesmoke;
    padding: 20px;
    border-radius: 10px;
}

.title {
    font-weight: 600;
    font-size: 40px;
    margin: 0;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.form__content {
    display: block;
    min-width: 350px;
    margin: 10px
}

.form__label {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}

.form__actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.form__message {
    width: 100%;
    background: white;
    border: 1px solid gainsboro;
    border-radius: 10px;
    min-height: 300px;
    font-size: 16px;
}

.form__button {
    background: none;
    border-radius: 5px;
    border: 1px solid orange;
    padding: 15px 0;
    min-width: 150px;
    cursor: pointer;
    letter-spacing: 0.5px;
}

.form__button--save {
    background: orange;
}

.form__button:hover {
    background: orangered;
}

.form__menu {
    margin-left: 10px;
    display: block;
}

.form__button--bold,
.form__button--italic,
.form__button--underline,
.form__button--smaller,
.form__button--bigger {
    background: orange;
    display: block;
    padding: 5px 0;
    min-width: 50px;
    border: none;
    margin: 10px;
}

.form__button--smaller,
.form__button--bigger {
    background: gray;
}

.empty {
    content: ' ';
    display: block;
    height: 10px;
}

.fontSize-displayer {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 0;
    margin: 10px;
    letter-spacing: 0.5px;
    text-align: center;
}

.button__background {
    background: orangered;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}